<h1>Company</h1>

<div class="example-button-row">
  <a href="" routerLink='/companies/add'>
    <button mat-raised-button color="primary">
      Add company
    </button>
  </a>
  <button mat-raised-button color="warn" (click)="removeCompany()">Delete</button>
</div>

<div class="company-list">

  <mat-selection-list class="company-list-table" [(ngModel)]="selectedCompanies" (ngModelChange)="onCompanyChange($event)">
    <mat-list-option *ngFor="let company of companies" [value]="company">
      <a class="linkTableCell" href="" routerLink="/companies/update/{{ company.id }}"><span mat-raised-button
        matTooltip="Edit a company"
        aria-label="Edit a company"> {{company.name}} </span></a>
    </mat-list-option>
  </mat-selection-list>

</div>
