h1 {
  font-size: 25px;
  font-weight: 400;
  margin: 16px;
  padding: 0;
}

.update-company-form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.input{
  width: 100%;
}

.example-button-row {
 float: right;
}

.example-button-row button,
.example-button-row a {
  margin-left: 8px;
}

.alert {
  margin-bottom: 10px;
}
